@import '../../node_modules/normalize-scss/sass/normalize';
@include normalize();

#root {
  width: 100%;
  height: 100vh;
}
// -----------------------------------------------Header
.header {
  background-color: #FCC127;
  height: 10%;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 40px;
  display: flex;
  align-items: flex-end;
}

.logo__img {
  width: 48px;
  height: 48px;
}

.logo__text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 0 12px;
}
// -----------------------------------------------Footer
.footer {
  background-color: #A09D9D;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__link {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

// -----------------------------------------------Game
.main {
  background-color: #FCC127;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
// -----------------------------------------------ControlPanel
.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  background-color: #104DEB;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #1485ED;
  border: none;
  box-shadow: inset 0px 0px 4px 2px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}

.btn:hover {
  background-color: #50A9FC;
}

.btn:focus {
  outline: none;
}

.new-game-btn_play {
  background-image: url('../assets/images/play.png');
}

.new-game-btn_win {
  background-image: url('../assets/images/win.png');
}

.new-game-btn_loose {
  background-image: url('../assets/images/loose.png');
}

.mines-counter {
  width: 55px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1485ED;
  border: none;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.mines-counter__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.settings-btn {
  background-image: url('../assets/images/settings.png');
  background-position: center;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
// -----------------------------------------------Field
.row {
  display: flex;
}
// -----------------------------------------------Cell
.cell {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.cell_exploded {
  background-image: url('../assets/images/explosion.png');
}

.cell_mined {
  background-image: url('../assets/images/bomb.png');
}

.cell_flagged {
  background-image: url('../assets/images/warning.png');
}

.cell_not-pressed {
  background-color: #1485ED;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cell_hover:hover {
  background-color: #50A9FC;
}

.cell_pressed {
  background-color: #A09D9D;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  user-select: none;
}
